<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/Bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/jquery-ui-1.11.4/jquery-ui.min.css" rel="stylesheet"/>
</head>
<body>
<script type="text/javascript" src="../static/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="../static/canvasjs-1.8.0/canvasjs.min.js"></script>
<script type="text/javascript" src="../static/canvasjs-1.8.0/jquery.canvasjs.min.js"></script>
<script type="text/javascript" src="../static/Bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/jquery-ui-1.11.4/jquery-ui.js"></script>

<div id="chartHolder" style="height: 300px; width: 100%; position:relative;">
</div>
<div class="container" id="slider" style="width: 200px;"></div>
<div class="container text-center" id="label"></div>
<script type="text/javascript">
    var chartInfo= {};
    {% for year, json in default_chart_info.items() %}
        chartInfo[{{ year }}] = {{ json|safe }};
    {% endfor %}
    $(function(){
        $("#slider").slider({
            min: 1992,
            max: 2016,
            step: 1,
            disabled: false,
            animate: true,
            orientation: "horizontal",
            range: false,
            value: 1992,
            create: function(event, ui){
                create_chart();
            },
            slide: function(event, ui){
                create_chart();
            },
            change: function(event, ui){
                create_chart();
            }
        });
    });
    create_chart = function(){
        var value = $("#slider").slider("value");
        $("#label").text(value);
        for(year in chartInfo) {
            if(year == value) {
                chartInfo[year]["click"] = getInfo;
                $("#chartHolder").CanvasJSChart({
                    title: {
                        text: "{{ title }} by " +  year
                    },
                    legend: {
                        maxWidth: 350,
                        itemWidth: 120
                    },
                    data: [
                        chartInfo[year]
                    ]
                });
            }
        }
    };
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    function getInfo(e) {
        var year_value = $("#slider").slider("value");
        for(y in chartInfo){
            if(y == year_value){
                var clientData = {};
                clientData[year_value] = e.dataPoint;
                $.ajax({
                    type: "POST",
                    url: $SCRIPT_ROOT + "/process_info",
                    data: JSON.stringify(clientData),
                    dataType: "json",
                    success: function(data){
                        window.location.href = data.output;
                    }
                });
            }
        }
    };
</script>
</body>
</html>