<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="static/Bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
      <link href="static/jquery-ui-1.11.4/jquery-ui.min.css" rel="stylesheet"/>
  </head>
  <body>
      <script type="text/javascript" src="static/jquery-1.12.3.min.js"></script>
      <script type="text/javascript" src="static/canvasjs-1.8.0/jquery.canvasjs.min.js"></script>
      <script type="text/javascript" src="static/Bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="static/jquery-ui-1.11.4/jquery-ui.js"></script>

      <div id="chartHolder" style="height: 300px; width: 100%; position:relative;">
      </div>
      <div class="container" id="slider" style="width: 200px;"></div>
      <div class="container text-center" id="label"></div>
      <script type="text/javascript">
          $(function(){
              var chartInfo= {};
          {% for year, json in chart_info.items() %}
                chartInfo[{{ year }}] = {{ json|safe }};
          {% endfor %}
              $("#slider").slider({
                  min: 1990,
                  max: 2016,
                  step: 1,
                  disabled: false,
                  animate: true,
                  orientation: "horizontal",
                  range: false,
                  value: 2016,
                  create: function(event, ui){
                      $("#label").text($("#slider").slider("value"));
                      for(year in chartInfo) {
                          if(year == 2016) {
                              $("#chartHolder").CanvasJSChart({
                                  title: {
                                      text: "Pie Chart for " + year
                                  },
                                  legend: {
                                      maxWidth: 350,
                                      itemWidth: 120
                                  },
                                  data: [chartInfo[year]]
                              });
                          }
                      }
                  },
                  slide: function(event, ui){
                      var value = $(this).slider("value");
                      $("#label").text($("#slider").slider("value"));
                     for(year in chartInfo) {
                          if(year == value) {
                              $("#chartHolder").CanvasJSChart({
                                  title: {
                                      text: "Pie Chart for " + year
                                  },
                                  legend: {
                                      maxWidth: 350,
                                      itemWidth: 120
                                  },
                                  data: [chartInfo[year]]
                              });
                          }
                      }
                  },
                  change: function(event, ui){
                      var value = $(this).slider("value");
                      $("#label").text($("#slider").slider("value"));
                     for(year in chartInfo) {
                          if(year == value) {
                              $("#chartHolder").CanvasJSChart({
                                  title: {
                                      text: "Pie Chart for " + year
                                  },
                                  legend: {
                                      maxWidth: 350,
                                      itemWidth: 120
                                  },
                                  data: [chartInfo[year]]
                              });
                          }
                      }
                  }
              });
          });
      </script>
  </body>
</html>